PORT=3000
HOST=0.0.0.0
LOG_LEVEL=debug
CORS_ORIGIN=*

# Сгенерировать: openssl rand -base64 32
JWT_SECRET=some-jwt-secret

JWT_ACCESS_EXPIRATION_MINUTES=15
JWT_REFRESH_EXPIRATION_DAYS=7
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10
