.wrapper {
  display: flex;
  width: 100%;
}

.justify_start {
  justify-content: flex-start;
}

.justify_center {
  justify-content: center;
}

.justify_end {
  justify-content: flex-end;
}

.justify_between {
  justify-content: space-between;
}

.align_start {
  align-items: flex-start;
}

.align_center {
  align-items: center;
}

.align_end {
  align-items: flex-end;
}

.direction_row {
  flex-direction: row;
}

.direction_column {
  flex-direction: column;
}

.gap1 {
  gap: var(--sp-1);
}

.gap2 {
  gap: var(--sp-2);
}

.gap3 {
  gap: var(--sp-3);
}

.gap4 {
  gap: var(--sp-4);
}

.gap5 {
  gap: var(--sp-5);
}

.gap6 {
  gap: var(--sp-6);
}

.gap7 {
  gap: var(--sp-7);
}

.gap8 {
  gap: var(--sp-8);
}

.max {
  width: 100%;
}

.flexFull {
  flex: 1;
}
